@{
    ViewData["Title"] = "Future Posting";
}

<head>
    <link rel="stylesheet" href="~/css/indexstyles.css" asp-append-version="true" />
</head>

<section class="welcome">
    <div class="container">
        <div class="welcome_text">
            <h1 class="welcome_title">Social media management service</h1>
            <p class="welcome_desc">
                TikTok Delayed Publication Service is a convenient tool,
                allowing users to schedule and publish content on TikTok at a later time and date.
                With easy registration and account management,
                users can maintain full control over their content while leveraging the platform's scheduling capabilities.
                By ensuring timely and strategic content releases,
                users can optimize their TikTok presence for maximum engagement and impact.
            </p>
            <div>
                <a href='https://www.youtube.com/' class="btn btn-secondary btn-lg">How it works</a> <!-- Add tutorial video -->
            </div>
			<div>
				<a asp-controller="Posting" class="btn btn-secondary btn-lg">Try</a>
			</div>
        </div>
    </div>
</section>