@using Polufabrikkat.Site.Models.Posting
@using System.Text.Json
@model PostingViewModel

@section Styles
{
	<link rel="stylesheet" href="~/css/pages/posting.css" asp-append-version="true" />
}

@section Scripts
{
	<script src="~/js/pages/posting/posting.js" asp-append-version="true"></script>
}

@{
	ViewData["Title"] = "New Post";
}

<div class="container" id="posting-app">
	<select v-model="selectedTikTokUser" @@change="onUserChange">
		<option value="">-- Select a user --</option>
		<option v-for="user in tiktokUsers" :key="user.unionId" :value="user">
			{{ user.displayName }}
		</option>
	</select>
	<div>
		<span>{{selectedTikTokUser.displayName}}</span>
	</div>
</div>

<script>
	var selectTikTokUserUrl = '@Url.Action("SelectTikTokUser", "Posting")';
	var modelTikTokUsers = @Html.Raw(JsonSerializer.Serialize(Model.TikTokUsers, new JsonSerializerOptions { PropertyNamingPolicy = JsonNamingPolicy.CamelCase }));
</script>