.login-container {
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	margin: 0; /* Remove default body margin */
	flex-direction: column;
	margin-bottom: 20px;
}

/* Style for the form container */
.login-form {
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
	width: 100%;
	max-width: 400px; /* Limit form width */
}

/* Style for the form title */
.page-title {
	text-align: center;
	margin-bottom: 20px;
}

/* Form Group */
.form-group {
	margin-bottom: 20px;
}

	.form-group label {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.form-group input {
		width: 95%;
		padding: 10px;
		font-size: 16px;
		border: 1px solid #DCDCDC;
		border-radius: 5px;
	}

.form-control {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.alert-error {
	margin-bottom: 15px;
	color: red;
}

.social-login-section {
	text-align: center;
	margin-top: 20px;
}

.button-google {
	display: block;
	color: white;
	background-color: #DB4437;
}

.button-tiktok {
	display: block;
	color: white;
	background-color: #000000;
}

.button-google:hover {
	background-color: #a33e2f;
}

.button-tiktok:hover {
	color: white;
	background-color: #333333;
}